* {
    padding: 0;
    margin: 0;
}
ul,
li {
    list-style: none;
}
.banner {
    width: 100%;
    height: 540px;
    background-color: aliceblue;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
.headImg {
    border-radius: 50%;
    background-color: gray;
    height: 154px;
    width: 154px;
    position: absolute;
    left: 50%;
    top: 540px;
    margin: -77px;
    background-image: url("../img/headImg.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
section {
    max-width: 1140px;
    margin: 0 auto;
}
.info {
    text-align: center;
}
.info > .name {
    display: block;
    font-family: Microsoft Yahei;
    font-size: 40px;
    margin-top: 127px;
    margin-bottom: 30px;
}
.title {
    font-size: 40px;
    font-family: Microsoft Yahei;
    display: block;
    position: relative;
    text-align: center;
}
.title:before,
.title:after {
    content: '';
    position: absolute;
    top: 50%;
    background-color: #000000;
    height: 5px;
    width: 167px;
}
.title:before {
    left: 20%;
}
.title:after {
    right: 20%;
}
.msg {
    display: flex;
    justify-content: center;
}
.msg > .msgCard {
    display: inline-block;
    padding: 40px;
    margin: 20px;
}
.msgCard > .icon {
    margin-bottom: 30px;
}
.msgCard > .icon > img{
    height: 50px;
}
.head2 {
    font-size: 25px;
    margin-bottom: 8px;
}
.content {
    color: gray;
    line-height: 2;
}
.section-container {
    background-color: #fbfbfb;
}
.self-intro {
    text-align: center;
    height: 350px;
}
.self-intro > .titleSmall {
    display: block;
    font-size: 25px;
    margin: 0 auto;
    padding-top: 50px;
}
.self-intro > p {
    text-align: left;
    padding: 50px;
    font-size: 20px;
    line-height: 2;
    font-family: Microsoft JhengHei;
}
.experience {
    margin-top: 80px;
}
.experience > .title {
    margin-bottom: 80px;
}
.experience > ul {
    margin-top: 30px;
}
.experience > ul > .exJob {
}
.exJob > .companyYears {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 50px;
    position: relative;
}
.companyYears > .company {
    font-size: 20px;
}
.companyYears > .company:before {
    content: '';
    height: 8px;
    width: 8px;
    background-color: #42a1df;
    display: block;
    border: 4px #42a1df solid;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 20px;
    margin: -4px;
}
.companyYears > .timeline {
    font-size: 16px;
    color: gray;
}
.exJob > .desc {
    display: inline-block;
    box-sizing: border-box;
    width: 49%;
    padding: 20px 40px;
}
.desc > .jobTitle {
    font-size: 20px;
    display: block;
}
.desc > .jobDesc {
    color: gray;
}
.skills {
    margin-top: 50px;
}
.skills > ul {
    text-align: center;
    margin-top: 50px;
}
.skills > ul > .software {
    display: inline-block;
    height: 300px;
    width: 49%;
    box-sizing: border-box;
}
.software > .skillItem {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    line-height: 120px;
    text-align: center;
    font-size: 40px;
    margin: 30px auto;
}
.PS {
    background-color: #68b1dd;
}
.AI {
    background-color: #e1a72d;
}
.software > span {
    font-size: 20px;
}
.sectionContainer {
    background-color: #3cb9db;
}
.works {
    height: 400px;
    color: #ffffff;
    text-align: center;
}
.works > .title {
    padding: 60px 0;
}
.works > .title:before,
.works > .title:after{
    background-color: #ffffff;
}
.works > .spanShow {
    font-size: 30px;
}
.works > .btn {
    border: 2px #ffffff solid;
    height: 40px;
    width: 40px;
    margin: 50px auto;
    border-radius: 50%;
}
.works > .btn:hover {
    box-shadow: 3px 3px 5px #333333;
    transition: all 1s;
}
.works > .btn > .arrow {
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: #ffffff transparent transparent transparent;
    position: relative;
    margin: 20px auto;
}
.works > .btn > .arrow:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -10px;
    border: 10px solid;
    border-color: #3cb9db transparent transparent transparent;
}
.picDesign {
    text-align: center;
}
.picDesign > span {
    font-size: 20px;
    margin: 50px;
    display: block;
}
.swiper-container {
    width: 1140px;
}
.swiper-wrapper > .swiper-slide {
}
.portable {
    text-align: center;
}
.portable > span {
    font-size: 20px;
    display: block;
    margin: 50px;
}
.portable > .picShow {
}
.portable > .picShow > img {
    width: 20%;
    padding: 2%;
    box-shadow: 0px 3px 3px #333333;
}
.phoneApp {
    text-align: center;
}
.phoneApp > span {
    font-size: 20px;
    display: block;
    margin: 50px;
}
.phoneApp > img {
    border: 1px gray solid;
}
.webEnd > .title{
    font-size: 30px;
    display: block;
    margin: 100px 0;
}
.webFooter {
    text-align: center;
    background-color: #f3f3f3;
    height: 300px;
}
.webFooter > .fri {
    font-size: 20px;
    display: block;
    margin: 30px;
}
.webFooter > .sec {
    font-size: 15px;
    display: block;
    margin: 30px;
}
.webFooter > .QRCode {
    width: 120px;
    height: 120px;
    background-color: green;
    margin: 0 auto;

}